.navbar {
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  .navbar-header {
    >.nav-bniu {
      padding: 10px;
      width: 60px;
      height: 60px;
      overflow: hidden;
      >img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    >.navbar-toggle {
      margin-top: 13px;
    }
  }
  .navbar-text {
    margin-top: 18px;
    height: 100%;
    font-size: 18px;
    color: #333333;
  }

}

.navbar-default {
  background-color: #fff;
  box-shadow: 0 2px 2px #eee;
}